li{
    color:white;
}

body{
    background-color: black;
}

h1{
    color: white;
}

p{
    color: white;
}

h2{
    color: white;
}

a{
    color:rgb(21, 176, 214);
}

h3{
    color: white;
}

table{
    border: 2px solid white;
}

tr{
    color: white;
}

td{
    color: white;
}