body{
    background-color: black;
}
#txt1{
    color: red;
    text-align: center;
    font-style: italic;
}
.links{
    display: flex;
    justify-content: center;
    gap: 20px;
}
#a1{
    display: block; /*Faz o link ficar em toda a área da caixa(uso do chat)*/
    background-color: red;
    color: white;
    font-style: oblique;
    padding: 15px 20px;
    text-decoration: none;/*Tira o sublinhado do link(uso do chat)*/
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s;/*Ocorre o crescimento e a mudança da cor de fundo(uso do chat)*/
}
#a1:hover{
   background-color: darkred;
   transform: scale(1.1);/*Aumenta o tamanho do botão em 10% ao passar o mouse,
   a altura e a largura do botao é multiplicado por 1.1(uso do chat)*/
}
#img{
    border-radius: 150px ;
    box-shadow: 0 0 30px red;
}
.imagem{
    display: flex;
    justify-content: center;
    gap: 200px;
    padding-top: 50px;
}
.bio{
    display: flex;
    justify-content: center;
    color: white;
    gap: 200px;
}
#p1{
    padding-left: 120px;
}
.contato{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-right: 400px;
}
.contato a{
    display: inline-block;
}
.contato img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transition: transform 0.2s;
    box-shadow: 0 0 20px red;
}
.contato a:hover img {
    transform: scale(1.1);
}
.contato2{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-left: 450px;
    margin-top: -50px;
    
}
.contato2 a{
    display: inline-block;
}
.contato2 img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
    transition: transform 0.2s;
    box-shadow: 0 0 20px red;
}
.contato2 a:hover img{
    transform: scale(1.1);
}