body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}




.canvascontainer{
    display: flex;
    flex-direction: column;
}

.borda{
    border: solid red;
    border-radius: 8px;
}

#center{
    display: flex;
    justify-content: center;
}

