body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}




.canvascontainer{
    display: flex;
    flex-direction: column;
}

.borda{
    border: solid red;
    border-radius: 8px;
}

#center{
    display: flex;
    justify-content: center;
}

#a{
    display: block; 
    background-color: red;
    color: white;
    font-style: oblique;
    padding: 15px 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s;
}

#a:hover{
    background-color: darkred;
    transform: scale(1.1);
 }

 .links{
    display: flex;
    justify-content: center;
    gap: 20px;
}

