.dotted{
    border: 5px dotted blue;
}
.dashed{
    border:5px dashed red;
}
.solid{
    border: 5px solid green;
}
.margin{
    margin: 10px;
}
.radion_10{
    border-radius: 10px;
}
.shadow{
    box-shadow: 5px 5px gray;
}
.radion_20{
    border-radius: 20px;
}
.padding{
    padding: 10px;
}
.width_200{
    width: 200px;
}
.display_inline{display: inline;}
.display_block{display: block;}