.a{
    color:rgb(21, 176, 214);

    
    
}
a:hover{
    color: black;
} 
#canvas{
    border: solid black;
}
#canvas2{
    background-color: aquamarine;
    align-items: center;
}



a:hover{
    color: black;
}
.div1{
    background-color: white;
    width: 400px;
    height: 400px;
    border: solid black;
    
}

